.avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 700;
	border-radius: 50%;
	user-select: none;
	border: 2px solid white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s;
	cursor: pointer;
}

.avatar:hover {
	transform: scale(1.05);
}

.avatar-sm {
	width: 32px;
	height: 32px;
	font-size: 14px;
}

.avatar-md {
	width: 40px;
	height: 40px;
	font-size: 18px;
}

.avatar-lg {
	width: 64px;
	height: 64px;
	font-size: 28px;
}

.avatar-xl {
	width: 96px;
	height: 96px;
	font-size: 40px;
}
